@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* background-color: gray; */
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  /* font-family: "Concert One", sans-serif; */
  /* background-color:#93c5fd; */
  transition: background-color 0.3s ease-in-out;
}
body.dark {
  background-color: #445164;
}
.transition-colors {
  /* transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; */
}
.nav-shad-light {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(226, 226, 226, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.nav-shad-dark {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
}
/* Set the height and styling for the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbcbc; /* Dark gray */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #616060; /* Black */
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: black !important; /* Adjust the text color if needed */
}

/* Light mode selection color */
@layer base {
  ::selection {
    background: #5477ff;
    color: #fff; 
  }

  /* Dark mode selection color */
  .dark ::selection {
    background: #497aeb; 
    color: #000; 
  }
}